footer.global-footer.background-primary-500.text-white
	.container
		.py-20
			.row
				.col-lg-3.col-sm-6
					.footer-item.footer-info.layout.is-gap-16
						h3.body-1.font-bold.py-2 Công ty Nhựa Duy Tân
						p Được thành lập vào năm 1987, Duy Tân là thương hiệu nhựa hàng đầu Việt Nam và hướng đến mục tiêu trở thành nhà sản xuất nhựa hàng đầu ASEAN.
						ul
							-for(i=0;i<6;i++)
								li
									figure
										img(src="./img/certification.png", alt="")
				.col-lg-3.col-sm-6
					.footer-item.footer-address.layout.is-gap-16
						h3.body-1.font-bold.py-2 Thông tin liên hệ
						ul
							li 
								span.far.fa-location-dot
								| 298 Hồ Học Lãm, Phường An Lạc, Quận Bình Tân, TP.HCM
							li 
								span.far.fa-envelope
								|info@duytan.com
							li 
								span.far.fa-phone-volume
								|+84 28 3876 2222
					.footer-item.footer-link.layout.is-gap-16.mt-8
						h3.body-1.font-bold.py-2 Thông tin liên hệ
						ul
							li 
								a(href="#") Giới thiệu
							li 
								a(href="#") Tuyển dụng
							li 
								a(href="#") Liên hệ
				.col-lg-3.col-sm-6
					.footer-item.footer-link.layout.is-gap-16
						h3.body-1.font-bold.py-2 Hỗ trợ khách hàng
						ul
							li 
								a(href="#") Hướng dẫn đặt hàng
							li 
								a(href="#") Phương thức thanh toán
							li 
								a(href="#") Chính sách bảo hành & đổi trả
							li 
								a(href="#") Chính sách giao hàng
							li 
								a(href="#") Quyền riêng tư & bảo mật
				.col-lg-3.col-sm-6
					.footer-item.layout.is-gap-16
						h3.body-1.font-bold.py-2 Đăng ký nhận bản tin
						.subscription-frm
							.wrap-form
								.row
									.form-group.col-12.form-email
										input(type="text", placeholder="Địa chỉ email")
									.form-group.col-12
										select(name="") 
											option Lorem 
											option Lorem 
								.form-group.frm-btnwrap
									.frm-btn
										input(type="submit", value="Đăng ký")
			.row.mt-8.items-center
				.col-lg-3.col-sm-4
					.copyright
						p © 2023 Công ty Nhựa Duy Tân.
						p All Rights Reserved.
						p Thiết kế website bởi Cánh Cam.
				.col-lg-3.col-sm-4.offset-lg-3
					.bct
						img(src="./img/bct.png", alt="")
				.col-lg-3.col-sm-4
					.social-list
						ul
							li
								a(href="#")
									span.fab.fa-facebook-f
							li
								a(href="#")
									span.fab.fa-twitter
							li
								a(href="#")
									span.fab.fa-linkedin-in 
