section.section-large.about-6.home-7(class="bg:url('./img/home-bg-2.png') pb:166!@xl bg:no-repeat bg:bottom|right")
	.container
		.row.equal-height
			.col-lg-3.col-sm-6
				.section-intro
					h2.heading-2.text-primary-500.font-bold Quy trình sản xuất đạt chuẩn quốc tế
					.body-4.font-medium.mt-4 Được kiểm định nghiêm ngặt từ khâu thiết kế, sản xuất đến khâu hoàn thiện và giao hàng. Sản phẩm của Duy Tân còn được xuất khẩu đi nhiều thị trường khó tính như Hoa Kỳ, Nhật Bản, Châu Âu…
			.col-lg-3.col-sm-6
				.item.radius-12(class="bg:#D9E5D7")
					.layout.is-gap-8.h-100
						.icon
							figure
								img(src="./img/icon/Fingerprint.png", alt="")
						.title.heading-5.text-primary-500.font-extrabold Tại Sao Chọn Nhựa Duy Tân
						.content.body-4 Sản phẩm thân thiện với môi trường
						a(href="#").view-more E-Catalogues
							span.fal.fa-long-arrow-right 
			.col-lg-3.col-sm-6
				.item.radius-12(class="bg:#D7E9E9")
					.layout.is-gap-8.h-100
						.icon
							figure
								img(src="./img/icon/Fingerprint.png", alt="")
						.title.heading-5.text-primary-500.font-extrabold Tại Sao Chọn Nhựa Duy Tân
						.content.body-4 Sản phẩm thân thiện với môi trường
						a(href="#").view-more E-Catalogues
							span.fal.fa-long-arrow-right 
			.col-lg-3.col-sm-6
				.item.radius-12(class="bg:#D7E9E9")
					.layout.is-gap-8.h-100
						.icon
							figure
								img(src="./img/icon/Fingerprint.png", alt="")
						.title.heading-5.text-primary-500.font-extrabold Tại Sao Chọn Nhựa Duy Tân
						.content.body-4 Sản phẩm thân thiện với môi trường
						a(href="#").view-more E-Catalogues
							span.fal.fa-long-arrow-right 