section.about-1.background-white
	.container
		.row
			.col-md-6
				h1.heading-2.font-bold.text-white Về Duy Tân
					br
					span.heading-5 Được thành lập vào năm 
					| 1987
			.col-md-5.offset-lg-1
				h2.heading-5.font-extrabold.mb-2.mb-lg-5 Tổng quan về Công ty
				.article-content
					p Duy Tân là thương hiệu nhựa hàng đầu Việt Nam và hướng đến mục tiêu trở thành nhà sản xuất nhựa hàng đầu ASEAN.
