section.section.text-white.home-5(class="bg:url('./img/home-bg-1.png') bg:cover")
	.container
		.row.no-gutter
			.col-lg-4.col-sm-6
				.content.layout.is-gap-24.items-start
					h2.heading-2.font-bold Nhựa Duy Tân
					.body-4.text-medium Được thành lập vào năm 1987, Duy Tân là thương hiệu nhựa hàng đầu Việt Nam và hướng đến mục tiêu trở thành nhà sản xuất nhựa hàng đầu ASEAN.
					.btn-wrap
						a(href="#").btn.btn-primary
							em.fal.fa-play-circle
							span Xem thêm