extends _layout.pug

block var
	- var title = ''
	- var bodyClass = ''

block main
	include ../components/breadcrumb/index.pug
	include ../components/banner/index.pug
	include ../components/about/index.pug

