section.section
	.container
		.row
			.col-lg-4.col-md-5
				.contact-info.layout.is-gap-20
					h1.layout.is-gap-8
						span.heading-5 Xin chào chúng tôi là
						strong.heading-2.text-primary-500 DUY TÂN !!
					ul
						li 
							span.far.fa-location-dot
							| 298 Hồ Học Lãm, Phường An Lạc, Quận Bình Tân, TP.HCM
						li 
							span.far.fa-envelope
							| info@duytan.com
						li 
							span.far.fa-phone-volume
							| +84 28 3876 2222
						li 
							span.far.fa-phone-volume
							| +84 28 3980 5566
					.map.radius-12.overflow-hidden
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.167954112888!2d106.6120071!3d10.7215258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eefdb25d923%3A0xbc53712e8c2bac5c!2sProduction%20Joint%20Stock%20Company%20Duy%20Tan%20Plastic!5e0!3m2!1sen!2s!4v1682580919263!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			.col-md-7.offset-lg-1
				.contact-form.box-shadow-1
					.wrap-form
						p.text-center.body-3.mb-5 Mọi sự hợp tác tốt đẹp đều bắt đầu từ một cuộc trò chuyện. Hãy liên hệ với chúng tôi, mọi mong muốn của bạn sẽ được lắng nghe.
						.row
							.form-group.col-sm-6
								input(type="text", name="", placeholder="Họ và tên")
							.form-group.col-sm-6
								input(type="text", name="", placeholder="Email")
							.form-group.col-sm-6
								input(type="text", name="", placeholder="Số điện thoại")
							.form-group.col-sm-6
								input(type="text", name="", placeholder="Tiêu đề")
							.form-group.col-12
								textarea(name="", cols="30", rows="10", placeholder="Nội dung") 
						.form-group.frm-btnwrap
							.frm-btn
								input(type="submit", value="Gửi")