section.home-4.background-white
	.content-container
		.container
			.row
				.col-lg-3.offset-lg-9
					.content.layout.is-gap-24.items-start
						h2.heading-2.text-primary-500.font-bold Trải nghiệm sản phẩm
						.body-4.text-medium Thật nhiều những sản phẩm cao cấp mới ra mắt sẽ được "trình làng" lần này cùng với mức ưu đãi hấp dẫn khi chốt đơn
						.btn-wrap
							a(href="#").btn.btn-border-primary
								span Xem thêm
								em.fal.fa-arrow-right-long 
	.img-container
		.img
			figure
				img(src="./img/home-1.png", alt="").w-100