section.home-banner
	.home-banner-slider.position-relative
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.banner-item
						.img
							figure
								img(src="./img/home-banner.jpg", alt="")
				.swiper-slide
					.banner-item
						.img
							figure
								img(src="./img/home-banner.jpg", alt="")
		.swiper-pagination
	.mouse-scroll-wrap
		.container
			a(href="#").mouse-scroll
				figure
					img(src="./img/cursor.png", alt="") 