section.home-3.section-large
	.container
		h2.heading-2.text-primary-500.font-bold.mb-lg-15.mb-6 Sản phẩm mới
		.row
			-for(i=0;i<3;i++)
				.col-lg-4.col-sm-6
					.latest-product
						a(href="#").img
							figure
								img(src="http://unsplash.it/416/520?gravity=center", alt="")
						.caption.pt-6.text-center
							.heading-5 Bộ dụng cụ nhà bếp 2023
							a(href="#").btn.text-secondary-200.body-4
								span Xem thêm
								em.fal.fa-chevron-right 