section.news-detail-section.section
	.container
		.row
			.col-12.col-lg-8
				h1.title Thỏa sức vui đùa, vun vén tình yêu với Siêu công viên nước lớn bật nhất tại Việt Nam
				p.date 20/12/2022
				.full-content
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae harum quisquam doloremque voluptas perspiciatis, quibusdam natus dicta ipsam incidunt molestias exercitationem accusamus, perferendis dolorum nulla? Commodi culpa sequi error vero.
					p
						img(src="./img/1.jpg", alt="")
					- for(x=1; x<=10; x++)
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos sit ducimus iusto nam facere magni a illo nostrum vero exercitationem laboriosam magnam, nihil incidunt aliquam cumque sint explicabo porro sequi?

			.col-12.col-lg-4
				h2.title Tin tức khác
				.news-item.is-hor
					.image
						a(href="#")
							img(src="./img/1.jpg", alt="")
					.caption
						h3.title
							a(href="#") Thỏa sức vui đùa, vun vén tình yêu với Siêu công viên nước lớn bật nhất tại Việt Nam
