section.news-list-section.section
	.container

		h1.site-semi-36.text-secondary-600 Tin tức

		.row(class="")
			.col-12.col-lg-6
				.news-item
					.image
						a(href="#")
							img(src="./img/1.jpg", alt="")
					.caption
						h3.title
							a(href="#") Thỏa sức vui đùa, vun vén tình yêu với Siêu công viên nước lớn bật nhất tại Việt Nam
						.button
							a(href="#")
								i.fa-light.fa-arrow-right
			.col-12.col-lg-6
				.news-item
					.image
						a(href="#")
							img(src="./img/1.jpg", alt="")
					.caption
						h3.title
							a(href="#") Thỏa sức vui đùa, vun vén tình yêu với Siêu công viên nước lớn bật nhất tại Việt Nam 2
						.button
							a(href="#")
								i.fa-light.fa-arrow-right
			- for(x=1; x<=8; x++)
				.col-12.col-md-6.col-lg-3
					p Tin tức nhỏ
