section.home-1.section-large
	.container
		h2.heading-2.text-primary-500.font-bold.mb-lg-10.mb-6 Bạn cần tìm?
	.home-cate-wrap
		.container
			.text-secondary-200.mb-lg-8.mb-6
				p
					strong.heading-5 Nhóm Gia dụng - Công nghiệp
					br
					span.body-1 Khách hàng tiêu dùng/mua sỉ
			.home-cate-slider.swiper-equal-height
				.swiper-container
					.swiper-wrapper
						-for(i=0;i<4;i++)
							.swiper-slide
								a(href="#").product-category-nav-item.box-shadow-1
									.product-category-nav-item-img
										figure
											img(src="./img/cate-1.png", alt="")
									.product-category-nav-item-title Đồ dùng nhà bếp, bàn ăn
							.swiper-slide
								a(href="#").product-category-nav-item
									.product-category-nav-item-img 
										figure
											img(src="./img/cate-2.png", alt="")
									.product-category-nav-item-title Đồ dùng vệ sinh/chăm sóc nhà cửa
							.swiper-slide
								a(href="#").product-category-nav-item
									.product-category-nav-item-img
										figure
											img(src="./img/cate-3.png", alt="")
									.product-category-nav-item-title Nội thất
	.home-cate-wrap
		.container
			.text-secondary-200.mb-lg-8.mb-6
				p
					strong.heading-5 Nhóm Gia dụng - Công nghiệp
					br
					span.body-1 Khách hàng tiêu dùng/mua sỉ
			.home-cate-slider.swiper-equal-height
				.swiper-container
					.swiper-wrapper
						-for(i=0;i<4;i++)
							.swiper-slide
								a(href="#").product-category-nav-item.box-shadow-1
									.product-category-nav-item-img
										figure
											img(src="./img/cate-1.png", alt="")
									.product-category-nav-item-title Đồ dùng nhà bếp, bàn ăn
							.swiper-slide
								a(href="#").product-category-nav-item
									.product-category-nav-item-img 
										figure
											img(src="./img/cate-2.png", alt="")
									.product-category-nav-item-title Đồ dùng vệ sinh/chăm sóc nhà cửa
							.swiper-slide
								a(href="#").product-category-nav-item
									.product-category-nav-item-img
										figure
											img(src="./img/cate-3.png", alt="")
									.product-category-nav-item-title Nội thất